html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Asegura altura completa */
  align-items: center;
  justify-content: center;
}

div{
    display: flex;
    justify-content:left;     /* Centrado horizontal */
    align-items:normal;     /* Centrado vertical (opcional) */     
    height: fit-content; 
}

button{
    width: 50px;
    height: 25px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

h1{
    margin: 10px;
    padding: 0;
}

h2{
    margin: 10px;
    padding: 0;
}

p{
    margin: 10px;
    padding: 0;
}